#webApp {
	background-image: url("wallpaper.png");
	background-size:100% 100%;
	background-attachment:fixed;
}

.navi {
	width: 100%;
}

.nav-item a {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;
   vertical-align: middle;
}

.nav-item a:hover {
  border-radius: 20px 5px;
  border: solid 5px cornflowerblue;
  border-left-color: red;
  border-bottom-color: red;
}

.nav-item {
  padding: 1em;
}


#logo {
	width: 50%; 
	height: 80px;
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
	vertical-align:middle;
}

#logo:hover {
	height: 100px;
}

#searchTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

#searchTable td, #customers th {
    border: 1px solid black;
    padding: 8px;
}

#searchTable tr:nth-child(even){background-color: #f2f2f2;}

#searchTable tr:hover {background-color: #ddd;}

#searchTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
}

#login h1
{
	margin-left: 46%;
	margin-top: 1em;
	margin-bottom: 1em;
}
  