#webApp {
	background-image: url("wallpaper.png");
	background-size:100% 100%;
	background-attachment:fixed;
}

.navi {
	width: 100%;
}

.nav-item a {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;
   vertical-align: middle;
}

.nav-item a:hover {
  border-radius: 20px 5px;
  border: solid 5px cornflowerblue;
  border-left-color: red;
  border-bottom-color: red;
}

.nav-item {
  padding: 1em;
}


#logo {
	width: 50%; 
	height: 80px;
	-webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
	vertical-align:middle;
}

#logo:hover {
	height: 100px;
}

#searchTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

#searchTable td, #customers th {
    border: 1px solid black;
    padding: 8px;
}

#searchTable tr:nth-child(even){background-color: #f2f2f2;}

#searchTable tr:hover {background-color: #ddd;}

#searchTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
}

#login h1
{
	margin-left: 46%;
	margin-top: 1em;
	margin-bottom: 1em;
}
  
#suggestOffer h2 
{
	text-align: center;
}

.container {
  padding: 16px;
}

input[type=text], input[type=date]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.sendSuggestion {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.sendSuggestion:hover {
  opacity:1;
}

#homePage h2 
{
	text-align: center;
}

.table {
	margin: 0 auto;
	width:100%; 
	background-color: #E0E8F0;
	border: 1px solid black;
}

.table tr td {
	border: 1px solid black;
}

#homePage label {
  margin-top: 8px;
  margin-left: 130px;
}

#homePage input[type=search] { 
  border: none;
  margin-top: 8px;
  margin-left: 16px;
}

#homePage button {
  margin-top: 8px;
  margin-left: 16px;
  background: #60A0A0;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#homePage a {
	margin-right : 16px;
}

#searchMedicine h2 
{
	text-align: center;
}

#searchMedicine label {
  margin-top: 8px;
  margin-left: 130px;
}

#searchMedicine input[type=search] { 
  border: none;
  margin-top: 8px;
  margin-left: 16px;
}

#searchMedicine button {
  margin-top: 8px;
  margin-left: 16px;
  background: #60A0A0;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#searchMedicine a {
	margin-right : 16px;
}
