#webApp {
	background-image: url("wallpaper.png");
	background-size:100% 100%;
	background-attachment:fixed;
}
#menu
{
	heigth: 180px;
}

#navigation {
	margin-left: -75%;
	margin-right: 10%;
	width: 80%;
}
.nav-item a {
  font-size: 1.7em;
}
.nav-item a:hover {
  border-radius: 25px;
  border: solid 5px cornflowerblue;
}

#logo {
	width: 60%; 
	height: 100px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	vertical-align:middle;
}

#logo:hover {
	height: 120px;
}

#searchTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#searchTable td, #customers th {
    border: 1px solid black;
    padding: 8px;
}

#searchTable tr:nth-child(even){background-color: #f2f2f2;}

#searchTable tr:hover {background-color: #ddd;}

#searchTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
}


  
  